In [2]:
##Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’
!pip install bs4
!pip install req
from bs4 import BeautifulSoup
import requests

Requirement already satisfied: bs4 in c:\users\my pc\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\my pc\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\my pc\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: req in c:\users\my pc\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied: six in c:\users\my pc\anaconda3\lib\site-packages (from req) (1.15.0)

In [41]:
##Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’
from bs4 import BeautifulSoup
import requests
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
##page.content

In [42]:
soup=BeautifulSoup(page.content)

In [28]:
##extract header tags

heading_tags = ['h1','h2','h3','h4']
for i in soup.find_all(heading_tags):
    print(i.name + ' ---> ' + i.text.strip())

h1 ---> Main Page
h2 ---> From today's featured article
h2 ---> Did you know ...
h2 ---> In the news
h2 ---> On this day
h2 ---> From today's featured list
h2 ---> Today's featured picture
h2 ---> Other areas of Wikipedia
h2 ---> Wikipedia's sister projects
h2 ---> Wikipedia languages
h2 ---> Navigation menu
h3 ---> Personal tools
h3 ---> Namespaces
h3 ---> Variants
h3 ---> Views
h3 ---> More
h3 ---> Search
h3 ---> Navigation
h3 ---> Contribute
h3 ---> Tools
h3 ---> Print/export
h3 ---> In other projects
h3 ---> Languages

In [43]:
##Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release
imdb_page=requests.get("https://www.imdb.com/chart/top/")

In [44]:
imdb_soup=BeautifulSoup(imdb_page.content)
top_movie=imdb_soup.find_all('td',class_="titleColumn")
rating1=imdb_soup.find_all('td',class_="ratingColumn imdbRating")

In [47]:
movie=[]
movie_rat=[]
for i in top_movie:
    for j in i.find_all("a"):
        movie.append(i.text.replace("\n","")) 
for i in rating1:
    for j in i.find_all("strong"):
        movie_rat.append(i.text.replace("\n",""))
for k in range(0,100):
    print(movie[k]+"--->"+movie_rat[k])

      1.      The Shawshank Redemption(1994)--->9.2
      2.      The Godfather(1972)--->9.1
      3.      The Godfather: Part II(1974)--->9.0
      4.      The Dark Knight(2008)--->9.0
      5.      12 Angry Men(1957)--->8.9
      6.      Schindler's List(1993)--->8.9
      7.      The Lord of the Rings: The Return of the King(2003)--->8.9
      8.      Pulp Fiction(1994)--->8.8
      9.      Il buono, il brutto, il cattivo(1966)--->8.8
      10.      The Lord of the Rings: The Fellowship of the Ring(2001)--->8.8
      11.      Fight Club(1999)--->8.8
      12.      Forrest Gump(1994)--->8.7
      13.      Inception(2010)--->8.7
      14.      The Lord of the Rings: The Two Towers(2002)--->8.7
      15.      Star Wars: Episode V - The Empire Strikes Back(1980)--->8.7
      16.      The Matrix(1999)--->8.6
      17.      Goodfellas(1990)--->8.6
      18.      One Flew Over the Cuckoo's Nest(1975)--->8.6
      19.      Shichinin no samurai(1954)--->8.6
      20.      Se7en(1995)--->8.6
      21.      Cidade de Deus(2002)--->8.6
      22.      The Silence of the Lambs(1991)--->8.6
      23.      La vita è bella(1997)--->8.6
      24.      It's a Wonderful Life(1946)--->8.6
      25.      Star Wars(1977)--->8.6
      26.      Saving Private Ryan(1998)--->8.5
      27.      Sen to Chihiro no kamikakushi(2001)--->8.5
      28.      Interstellar(2014)--->8.5
      29.      The Green Mile(1999)--->8.5
      30.      Gisaengchung(2019)--->8.5
      31.      Léon(1994)--->8.5
      32.      Seppuku(1962)--->8.5
      33.      The Usual Suspects(1995)--->8.5
      34.      The Pianist(2002)--->8.5
      35.      Back to the Future(1985)--->8.5
      36.      Terminator 2: Judgment Day(1991)--->8.5
      37.      Modern Times(1936)--->8.5
      38.      Psycho(1960)--->8.5
      39.      The Lion King(1994)--->8.5
      40.      American History X(1998)--->8.5
      41.      City Lights(1931)--->8.5
      42.      Hotaru no haka(1988)--->8.5
      43.      Gladiator(2000)--->8.5
      44.      Whiplash(2014)--->8.5
      45.      The Departed(2006)--->8.5
      46.      The Intouchables(2011)--->8.5
      47.      The Prestige(2006)--->8.5
      48.      Casablanca(1942)--->8.4
      49.      Once Upon a Time in the West(1968)--->8.4
      50.      Rear Window(1954)--->8.4
      51.      Nuovo Cinema Paradiso(1988)--->8.4
      52.      Alien(1979)--->8.4
      53.      Apocalypse Now(1979)--->8.4
      54.      Memento(2000)--->8.4
      55.      Raiders of the Lost Ark(1981)--->8.4
      56.      The Great Dictator(1940)--->8.4
      57.      The Lives of Others(2006)--->8.4
      58.      Django Unchained(2012)--->8.4
      59.      Paths of Glory(1957)--->8.4
      60.      Sunset Blvd.(1950)--->8.4
      61.      WALL·E(2008)--->8.4
      62.      The Shining(1980)--->8.4
      63.      Avengers: Infinity War(2018)--->8.4
      64.      Witness for the Prosecution(1957)--->8.4
      65.      Joker(2019)--->8.4
      66.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)--->8.4
      67.      Spider-Man: Into the Spider-Verse(2018)--->8.4
      68.      Oldeuboi(2003)--->8.3
      69.      Mononoke-hime(1997)--->8.3
      70.      Hamilton(2020)--->8.3
      71.      Kimi no na wa.(2016)--->8.3
      72.      Once Upon a Time in America(1984)--->8.3
      73.      The Dark Knight Rises(2012)--->8.3
      74.      Aliens(1986)--->8.3
      75.      Coco(2017)--->8.3
      76.      Das Boot(1981)--->8.3
      77.      Capharnaüm(2018)--->8.3
      78.      Avengers: Endgame(2019)--->8.3
      79.      Tengoku to jigoku(1963)--->8.3
      80.      American Beauty(1999)--->8.3
      81.      Toy Story(1995)--->8.3
      82.      3 Idiots(2009)--->8.3
      83.      Braveheart(1995)--->8.3
      84.      Amadeus(1984)--->8.3
      85.      Pather Panchali(1955)--->8.3
      86.      Inglourious Basterds(2009)--->8.3
      87.      Good Will Hunting(1997)--->8.3
      88.      Star Wars: Episode VI - Return of the Jedi(1983)--->8.3
      89.      2001: A Space Odyssey(1968)--->8.3
      90.      Reservoir Dogs(1992)--->8.3
      91.      Taare Zameen Par(2007)--->8.3
      92.      M - Eine Stadt sucht einen Mörder(1931)--->8.3
      93.      Vertigo(1958)--->8.3
      94.      Citizen Kane(1941)--->8.3
      95.      Jagten(2012)--->8.3
      96.      Requiem for a Dream(2000)--->8.3
      97.      Idi i smotri(1985)--->8.3
      98.      Singin' in the Rain(1952)--->8.3
      99.      North by Northwest(1959)--->8.3
      100.      Eternal Sunshine of the Spotless Mind(2004)--->8.3

In [6]:
##Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release
imdb_indian_page=requests.get("https://www.imdb.com/list/ls056092300/")
imdb_indian_page
##imdb_indian_page.content

In [7]:
imdb_indian_soup=BeautifulSoup(imdb_indian_page.content)
top_movie=imdb_indian_soup.find_all('h3',class_="lister-item-header")
rating=imdb_indian_soup.find_all('div',class_="ipl-rating-star small")
i_movie=[]
i_movie_rat=[]
for i in top_movie:
    for j in i.find_all("a"):
        i_movie.append(i.text.replace("\n",""))
for i in rating:
    for j in i.find_all("span",class_="ipl-rating-star__rating"):
        i_movie_rat.append(i.text.replace("\n",""))
for k in range(0,len(i_movie)):
    print(i_movie[k]+"--->"+i_movie_rat[k])

1.Ship of Theseus(2012)--->8.1
2.Iruvar(1997)--->8.5
3.Kaagaz Ke Phool(1959)--->8
4.Lagaan: Once Upon a Time in India(2001)--->8.1
5.Pather Panchali(1955)--->8.5
6.Charulata(1964)--->8.2
7.Rang De Basanti(2006)--->8.1
8.Dev.D(2009)--->8
9.3 Idiots(2009)--->8.4
10.Awaara(1951)--->7.9
11.Nayakan(1987)--->8.7
12.Aparajito(1956)--->8.4
13.Pushpaka Vimana(1987)--->8.6
14.Pyaasa(1957)--->8.5
15.Ghatashraddha(1977)--->7.2
16.Sholay(1975)--->8.2
17.Aradhana(1969)--->7.6
18.Do Ankhen Barah Haath(1957)--->8.4
19.Bombay(1995)--->8.1
20.Neecha Nagar(1946)--->6.8
21.Do Bigha Zamin(1953)--->8.4
22.Garm Hava(1974)--->8.1
23.Piravi(1989)--->7.7
24.Mughal-E-Azam(1960)--->8.2
25.Amma Ariyan(1986)--->7.1
26.Madhumati(1958)--->8
27.Goopy Gyne Bagha Byne(1969)--->8.8
28.Gangs of Wasseypur(2012)--->8.2
29.Guide(1965)--->8.4
30.Satya(1998)--->8.2
31.Roja(1992)--->8.2
32.Mr. India(1987)--->7.8
33.The Cloud-Capped Star(1960)--->8
34.Harishchandrachi Factory(2009)--->8.4
35.Masoom(1983)--->8.4
36.Agneepath(1990)--->7.7
37.Tabarana Kathe(1986)--->8
38.Zakhm(1998)--->7.9
39.Dil Chahta Hai(2001)--->8.1
40.Bhaag Milkha Bhaag(2013)--->8.2
41.Chupke Chupke(1975)--->8.3
42.Dilwale Dulhania Le Jayenge(1995)--->8.1
43.Taare Zameen Par(2007)--->8.4
44.Ardh Satya(1983)--->8.2
45.Bhumika(1977)--->7.4
46.Enthiran(2010)--->7.1
47.Sadma(1983)--->8.4
48.Shwaas(2004)--->8.3
49.Lamhe(1991)--->7.4
50.Haqeeqat(1964)--->7.8
51.Shree 420(1955)--->8
52.Kannathil Muthamittal(2002)--->8.4
53.Hum Aapke Hain Koun...!(1994)--->7.5
54.Ustad Hotel(2012)--->8.2
55.Bandit Queen(1994)--->7.6
56.Lakshya(2004)--->7.9
57.Black Friday(2004)--->8.5
58.Manthan(1976)--->7.7
59.Apoorva Raagangal(1975)--->7.5
60.English Vinglish(2012)--->7.8
61.Jewel Thief(1967)--->8
62.Pakeezah(1972)--->7.3
63.Maqbool(2003)--->8.1
64.Jis Desh Men Ganga Behti Hai(1960)--->7.4
65.Sahib Bibi Aur Ghulam(1962)--->8.3
66.Shatranj Ke Khilari(1977)--->7.7
67.Narthanasala(1963)--->7.6
68.Chandni Bar(2001)--->7.6
69.Vaaranam Aayiram(2008)--->8.2
70.Mr. and Mrs. Iyer(2002)--->7.9
71.Chandni(1989)--->6.8
72.English, August(1994)--->6.8
73.Celluloid(2013)--->7.7
74.Sagara Sangamam(1983)--->8.8
75.Munna Bhai M.B.B.S.(2003)--->8.1
76.Saaransh(1984)--->8.2
77.Guddi(1971)--->7.2
78.Vanaja(2006)--->7.1
79.Vazhakku Enn 18/9(2012)--->8.3
80.Gangaajal(2003)--->7.8
81.Angoor(1982)--->8.3
82.Guru(2007)--->7.7
83.Andaz Apna Apna(1994)--->8.1
84.Sangam(I) (1964)--->7.5
85.Oka Oori Katha(1978)--->7.5
86.Bhuvan Shome(1969)--->7.5
87.Border(I) (1997)--->7.9
88.Parineeta(2005)--->7.2
89.Devdas(1955)--->7.9
90.Abohomaan(2009)--->7.4
91.Kuch Kuch Hota Hai(1998)--->7.6
92.Pithamagan(2003)--->8.4
93.Veyyil(2006)--->7.7
94.Chemmeen(1965)--->7.7
95.Jaane Bhi Do Yaaro(1983)--->8.4
96.Apur Sansar(1959)--->8.5
97.Kanchivaram(2008)--->8.1
98.Monsoon Wedding(2001)--->7.4
99.Black(2005)--->8.2
100.Deewaar(1975)--->8.1

Write a python program to scrap book name, author name, genre and book review of any 5 books from 
‘www.bookpage.com’

In [5]:
import requests
book_page=requests.get("https://bookpage.com/")
##book_page.content
book_soup=BeautifulSoup(book_page.content)

In [4]:
content=book_soup.find_all("div",class_="content")
##author=page_soup.find_all('div',class_="ipl-rating-star small")
name=[]
authour=[]
genre=[]
for i in content:
    for j in i.find_all("h4",class_="italic"):
        for k in j.find_all("a"):
            name.append(i.text.replace("\n\n",""))
for p in range(0,5):
    print(name[p])
   ## for j in i.find_all("p",class_="ipl-rating-star__rating"):
        
##for a in range(0,5):
    ##print(name[a]+":"+author[a]+":"+genre[a])

First-day feelings
Feature by Alice Cary
Children's
 /
Children's Picture Book
These four picture books ensure children will approach the first day of school with confidence and kindness.
Read More
Battles of the heart
Feature by Elizabeth Mazer
Romance
 /
Historical Romance
Upstanding soldiers get swept away by unconventional, openhearted women in two historical romances.
Read More
We Are Each Other’s Harvest
Review by Mari Carlson
Audio
 /
Nonfiction
 /
African American History
With rich descriptions of crops, recipes, family meals and more, this audiobook inspires, empowers and enlightens through spoken word.
Read More
 ★ Dead Wednesday
Review by Alice Cary
Children's
 /
Middle Grade
On Dead Wednesday, eighth graders assume the identities of recently deceased teens, but Worm never expected that Becca’s ghost would actually materialize.
Read More
The Wreckage of My Presence
Review by Anna Zeitlin
Audio
 /
Nonfiction
 /
Essays
Listening to Casey Wilson’s essay collection is like getting good gossip from one of your funniest friends.
Read More

	5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 
	ii) Top 10 ODI Batsmen in men along with the records of their team and rating. 
	iii) Top 10 ODI bowlers along with the records of their team and rating.

In [131]:
odi_page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi") 
odi_soup=BeautifulSoup(odi_page.content)
top_team=odi_soup.find_all('tr',class_="table-body")
info_team=odi_soup.find_all('tr',class_="rankings-block__banner")
team=[]
info=[]
for i in info_team:
    for m in i.find_all("td",class_="rankings-block__banner--team-name"):
        for l in m.find_all("span",class_="u-hide-phablet"):
            info.append(i.text.replace("\n"," "))
for i in top_team:
    for j in i.find_all("td",class_="table-body__cell rankings-table__team"):
        for k in j.find_all("span",class_="u-hide-phablet"):
            team.append(i.text.replace("\n"," "))
print(info)
for r in range(0,9):
    print(team[r])
    ##print(info[r])

[' 1   New Zealand NZ  17 2,054                              121                                ']
 2   England ENG  32 3,793 119
 3   Australia AUS  26 3,077 118
 4   India IND  31 3,598 116
 5   South Africa SA  22 2,267 103
 6   Pakistan PAK  27 2,524 93
 7   Bangladesh BAN  29 2,639 91
 8   West Indies WI  28 2,290 82
 9   Sri Lanka SL  28 2,137 76
 10   Afghanistan AFG  17 1,054 62

Top 10 ODI Batsman in men along with the records of their team and rating.

In [39]:
from bs4 import BeautifulSoup
import requests
odi_page1=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi") 
odi_soup1=BeautifulSoup(odi_page1.content)
top_batsman=odi_soup1.find_all('tr',class_="table-body")
first=odi_soup1.find_all('a',class_="rankings-block__banner-link")
batsman=[]
first_rank=[]
for i in first:
    for  j in i.find_all("div",class_="rankings-block__top-player"):
        for  k in j.find_all("div",class_="rankings-block__banner--name"):
            first_rank.append(i.text.replace("\n"," "))
for i in top_batsman:
    for  j in i.find_all("td",class_="table-body__cell name"):
        for  k in j.find_all("a"):
            batsman.append(i.text.replace("\n",""))
print("        ",first_rank[0])
for r in range(0,9):
      print(batsman[r])

                                    1            Babar Azam   PAK                             873
                                    2        Virat KohliIND848
                                    3        Rohit SharmaIND817
                                    4        Ross TaylorNZ801
                                    5        Aaron FinchAUS791
                                    6        Jonny BairstowENG775
                                    7        David WarnerAUS773
                                              Shai HopeWI773
                                    9        Francois du PlessisSA766
                                    10        Quinton de KockSA758

Top 10 ODI Bowlers in men along with the records of their team and rating.

In [ ]:
from bs4 import BeautifulSoup
import requests
import regex as re
odi_page1=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi") 
odi_soup1=BeautifulSoup(odi_page1.content)
top_bowler=odi_soup1.find_all("div",class_="rankings-block__container")
first=odi_soup1.find_all('a',class_="rankings-block__banner-link")
bowler=[]
info=[]
for i in top_bowler:
    for  j in i.find_all("tr",class_="table-body"):
        for  k in j.find_all("td",class_="table-body__cell name"):
            for  l in k.find_all("a",href="/rankings/mens/player-rankings/4572"):
                bowler.append(i.text.strip())

print(bowler[0].replace("\n","\t"))

6.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating. 一 ii) Top 10 women’s ODI players along with the records of their team and rating. 一 iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [3]:
odi_page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi") 
odi_soup=BeautifulSoup(odi_page.content)
top_team=odi_soup.find_all('tr',class_="table-body")
info_team=odi_soup.find_all('tr',class_="rankings-block__banner")
team=[]
info=[]
for i in info_team:
    for m in i.find_all("td",class_="rankings-block__banner--team-name"):
        for l in m.find_all("span",class_="u-hide-phablet"):
            info.append(i.text.replace("\n"," "))
for i in top_team:
    for j in i.find_all("td",class_="table-body__cell rankings-table__team"):
        for k in j.find_all("span",class_="u-hide-phablet"):
            team.append(i.text.replace("\n"," "))

print(info)
for r in range(0,len(team)):
    print(team[r])
##print(top_team)

[' 1   Australia AUS  18 2,955                              164                                ']
 2   England ENG  20 2,370 119
 3   South Africa SA  24 2,828 118
 4   India IND  23 2,535 110
 5   New Zealand NZ  21 1,947 93
 6   West Indies WI  17 1,427 84
 7   Pakistan PAK  20 1,496 75
 8   Bangladesh BAN  5 306 61
 9   Sri Lanka SL  11 519 47
 10   Ireland IRE  2 25 13

In [5]:
from bs4 import BeautifulSoup
import requests
import regex as re
odi_page1=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi") 
odi_soup1=BeautifulSoup(odi_page1.content)
top_batsman=odi_soup1.find_all('tr',class_="table-body")
first=odi_soup1.find_all('a',class_="rankings-block__banner-link")
batsman=[]
first_rank=[]
for i in first:
    for  j in i.find_all("div",class_="rankings-block__top-player"):
        for  k in j.find_all("div",class_="rankings-block__banner--name"):
            first_rank.append(i.text.replace("\n"," "))
for i in top_batsman:
    for  j in i.find_all("td",class_="table-body__cell name"):
        for  k in j.find_all("a"):
            batsman.append(i.text.replace("\n"," "))
print("          ",first_rank[0])
for r in range(0,9):
      print(batsman[r])

                                      1            Mithali Raj   IND                             762
                                      2            Lizelle Lee    SA  758
                                      3            Alyssa Healy    AUS  756
                                      4            Tammy Beaumont    ENG  754
                                      5            Stafanie Taylor    WI  736
                                      6            Meg Lanning    AUS  723
                                      7            Amy Satterthwaite    NZ  715
                                      8            Natalie Sciver    ENG  706
                                      9            Smriti Mandhana    IND  701
                                      10            Laura Wolvaardt    SA  683

In [ ]:
from bs4 import BeautifulSoup
import requests
import regex as re
odi_page1=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi") 
odi_soup1=BeautifulSoup(odi_page1.content)
top_bowler=odi_soup1.find_all("div",class_="rankings-block__container")
first=odi_soup1.find_all('a',class_="rankings-block__banner-link")
bowler=[]
info=[]
for i in top_bowler:
    for  j in i.find_all("tr",class_="table-body"):
        for  k in j.find_all("td",class_="table-body__cell name"):
            for  l in k.find_all("a",href="/rankings/womens/player-rankings/997"):
                bowler.append(i.text.strip())
print(bowler[0].replace("\n","\t"))

Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [10]:
from bs4 import BeautifulSoup
import requests
amazon_page1=requests.get("https://www.amazon.in/Mobile-Phone-Under-20000/s?k=Mobile+Phone+Under+20000")
amazon_soup1=BeautifulSoup(amazon_page1.content)
amazon=amazon_soup1.find_all("h2")
mobile=[]
for i in amazon:
    for  j in i.find_all("a"): 
        mobile.append(i.text.replace("|",' '))       
for r in range(0,len(mobile)):
    print(r,".",mobile[r])

0 . Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)   2.3GHz Mediatek Helio G35 Octa core Processor
1 . Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)   2GHz Octa-core Helio G25 Processor   5000 mAh Battery
2 . Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers
3 . Tecno Spark 7T(Jewel Blue, 4GB RAM, 64GB Storage) 6000 mAh Battery  48 MP AI Dual Rear Camera
4 . Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers
5 . Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime
6 . Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers
7 . Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage)   2.3GHz Mediatek Helio G35 Octa core Processor
8 . Redmi 9A(Midnight Black 3GB RAM 32GB Storage)   2GHz Octa-core Helio G25 Processor   5000 mAh Battery
9 . realme C11 (2021) (Cool Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers
10 . Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display
11 . Redmi 9A (Sea Blue 3GB RAM 32GB Storage)  2GHz Octa-core Helio G25 Processor   5000 mAh Battery
12 . Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor   True 48 MP Quad Camera   90Hz Refresh Rate
13 . Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage)   2.3GHz Mediatek Helio G35 Octa core Processor
14 . Redmi 9A (Midnight Black 2GB RAM 32GB Storage)   2GHz Octa-core Helio G25 Processor   5000 mAh Battery
15 . Redmi 9A (Sea Blue 2GB RAM 32GB Storage)   2GHz Octa-core Helio G25 Processor   5000 mAh Battery

8.Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [11]:
from bs4 import BeautifulSoup
import requests
weather_page1=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YQA-3ugzbIU")
weather_soup1=BeautifulSoup(weather_page1.content)
weather=weather_soup1.find_all("div",class_="col-sm-10 forecast-text")
day=weather_soup1.find_all("div",class_="col-sm-2 forecast-label")
days=[]
report=[]
for i in weather: 
        report.append(i.text.replace("\n",' ')) 
for j in day:
    for  k in j.find_all("b"): 
        days.append(j.text.replace("\n",' ')) 
for r in range(0,len(report)):          
    print(days[r],"----->",report[r],"\n")

Today -----> Mostly cloudy, then gradually becoming sunny, with a high near 70. West southwest wind 5 to 14 mph, with gusts as high as 20 mph.

Tonight -----> Increasing clouds, with a low around 56. West southwest wind 6 to 13 mph, with gusts as high as 22 mph.

Friday -----> Mostly cloudy, then gradually becoming sunny, with a high near 69. West southwest wind 6 to 14 mph, with gusts as high as 21 mph.

Friday Night -----> Increasing clouds, with a low around 56. Southwest wind 7 to 14 mph, with gusts as high as 23 mph.

Saturday -----> Partly sunny, with a high near 67. Southwest wind 7 to 14 mph, with gusts as high as 18 mph.

Saturday Night -----> Mostly cloudy, with a low around 56.

Sunday -----> Mostly sunny, with a high near 69.

Sunday Night -----> Partly cloudy, with a low around 56.

Monday -----> Mostly sunny, with a high near 68.

Monday Night -----> Partly cloudy, with a low around 55.

Tuesday -----> Mostly sunny, with a high near 66.

Tuesday Night -----> Partly cloudy, with a low around 55.

Wednesday -----> Mostly sunny, with a high near 66.

9.Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [12]:
from bs4 import BeautifulSoup
import requests
job_page1=requests.get("https://internshala.com/fresher-jobs/")
job_soup1=BeautifulSoup(job_page1.content)
fresher=job_soup1.find_all("div",class_="heading_6 company_name")
detail=job_soup1.find_all("div",class_="other_detail_item_row")
company=[]
info=[]
for i in fresher:
    for j in i.find_all("a"):                   
        company.append(i.text.strip()) 
for i in detail:
    for j in i.find_all("div",class_="other_detail_item"):                   
        info.append(i.text.strip()) 
               
for r in range(0,15):          
    print(company[r].strip(),"\n",info[r].replace("\n",""))

Decathlon Sport India Private Limited
 Start date                            Starts Immediately                        CTC  3.3 - 4.5 LPA
Build With Innovation Private Limited
 Start date                            Starts Immediately                        CTC  3.3 - 4.5 LPA
Inferigence Quotient LLP
 Apply By21 Aug' 21
Internshala
 Start date                            Starts Immediately                        CTC  4 - 6 LPA
Unicornready
 Start date                            Starts Immediately                        CTC  4 - 6 LPA
Velocity Media Networks
 Apply By28 Aug' 21
New Way Professionals Private Limited
 Start date                            Starts Immediately                        CTC  3 - 3.6 LPA
Rang De
 Start date                            Starts Immediately                        CTC  3 - 3.6 LPA
SafeSquid Labs
 Apply By28 Aug' 21
Signals & Systems India Private Limited
 Start date                            Starts Immediately                        CTC  5 - 6.8 LPA
Wisestep
 Start date                            Starts Immediately                        CTC  5 - 6.8 LPA
Nucros Science & Taste
 Apply By28 Aug' 21
Nikulsan Technologies Private Limited
 Start date                            Starts Immediately                        CTC  3 LPA
Habitate Technologies Private Limited
 Start date                            Starts Immediately                        CTC  3 LPA
School Of Excellence
 Apply By28 Aug' 21

10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [13]:
from bs4 import BeautifulSoup
import requests
house_page1=requests.get("https://www.nobroker.in/property/sale/chennai/Chennai%20South?type=BHK3&searchParam=W3sibGF0IjoxMi45MjA0NDkxLCJsb24iOjgwLjIwOTgyMTksInBsYWNlSWQiOiJDaElKZVl6bGVaaGRVam9SM21pTk1GaTBNalkiLCJwbGFjZU5hbWUiOiJDaGVubmFpIFNvdXRoIn1d&radius=2.0")
house_soup1=BeautifulSoup(house_page1.content)
house=house_soup1.find_all("div",class_="nb__17R6o")
name=house_soup1.find_all("h2",class_="heading-6 font-semi-bold nb__1AShY")
info=[]
owner=[]
info1=[]
for i in house:
    info.append(i.text.replace("\n"," "))
for j in name:
    owner.append(j.text.replace("\n",""))
for r in range(0,len(owner)):
    print(owner[r],"\n",info[r],"\n")

3 BHK Flat  For Sale  In Anirudh Prashanth Castle In Pallikaranai
 Under Loan₹ 1,169 sqftBuiltup₹42,985/MonthEstimated EMI₹75 Lacs₹6,416 per sq.ft.

3 BHK In Independent House  For Sale  In Pallikaranai
 Not under loan₹ 1,673 sqftBuiltup₹51,583/MonthEstimated EMI₹90 Lacs₹5,380 per sq.ft.

3 BHK Apartment  For Sale  In Newry Sobhita In Pallikaranai
 Not under loan₹ 1,447 sqftBuiltup₹48,717/MonthEstimated EMI₹85 Lacs₹5,874 per sq.ft.

3 BHK Apartment  For Sale  In Krishna Accolade In Medavakkam
 Not under loan₹ 1,535 sqftBuiltup₹63,045/MonthEstimated EMI₹1.1 Crores₹7,166 per sq.ft.

3 BHK In Independent House  For Sale  In 16th Street, Pallikaranai
 Not under loan₹ 1,100 sqftBuiltup₹42,985/MonthEstimated EMI₹75 Lacs₹6,818 per sq.ft.

3 BHK Flat  For Sale  In Priya Platinum  In Annamalai Street, Pallikaranai
 Not under loan₹ 1,122 sqftBuiltup₹40,120/MonthEstimated EMI₹70 Lacs₹6,239 per sq.ft.

3 BHK In Independent House  For Sale  In Labour Colony, Pallikaranai
 Not under loan₹ 2,000 sqftBuiltup₹74,508/MonthEstimated EMI₹1.3 Crores₹6,500 per sq.ft.

3 BHK Apartment  For Sale  In Green Court In Medavakkam
 Not under loan₹ 1,157 sqftBuiltup₹32,955/MonthEstimated EMI₹57.5 Lacs₹4,970 per sq.ft.

3 BHK In Independent House  For Sale  In Medavakkam
 Under Loan₹ 1,400 sqftBuiltup₹57,314/MonthEstimated EMI₹1 Crore₹7,143 per sq.ft.

3 BHK Flat  For Sale  In Guru Krupa Apartment  In Pallikaranai
 Not under loan₹ 1,220 sqftBuiltup₹40,120/MonthEstimated EMI₹70 Lacs₹5,738 per sq.ft.