In [2]:
#importing Libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import numpy as np
import time

___1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [5]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")

#Getting Link
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [6]:
try:
    ranking_of_vid=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranking_of_vid:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('No details available')
except StaleElementReferenceException:
    Rank.append('No details available')

In [7]:
Name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('No details available')
except StaleElementReferenceException:
    Name.append('No details available')

In [8]:
Artist
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No details available')
except StaleElementReferenceException:
    Artist.append('No details available')

In [9]:
try:
    date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date_list:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('No details available')
except StaleElementReferenceException:
    Upload_Date.append('No details available')

In [13]:
try:
    list1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in list1:
        Views.append(i.text)
except NoSuchElementException:#handling no such element exception
    Views.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    Views.append('No details available')

In [21]:
##creating and printing dataframe
df=pd.DataFrame({})
df['Rank']=Rank
df['Name']=Name
df['Artist']=Artist
df['Upload_date']=Upload_Date
df['Views']=Views[:30]
df

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.50
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.33
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.30
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.27
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.09
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.17
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.06
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",4.01
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.99
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.81
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.34
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.30
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.28
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.25
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.06
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.05
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.03
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.02
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.02
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.98
24,25.,"""Wheels on the Bus""[50]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.94
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.91
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.83
27,28.,"""Hello""[53]",Adele,"October 22, 2015",2.83
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.81
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.78

___2. Scrape the details team India’s international fixtures from bcci.tv.

In [23]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")

#Getting Link
driver.get('https://www.bcci.tv/')

driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [24]:
fixture=driver.find_element_by_xpath("//div[@class='drop-down__options']/ul[1]/li[1]/a[1]")
fixture.click()

In [25]:
Match_Title=[] 
Series=[]
Place=[]
Date=[]
Time=[]

In [26]:
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    Match_Title.append(i.text)

In [27]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__teams']"):
    Series.append(i.text.replace("\n"," "))

In [28]:
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    Place.append(i.text)

In [29]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
    str_splt = (i.text).split()
    str_splt1=str_splt[0]+" "+str_splt[1]+" "+str_splt[2]
    str_splt2=str_splt[3]+" "+str_splt[4]
    Date.append(str_splt1)
    Time.append(str_splt2)

In [30]:
##creating and printing dataframe
df=pd.DataFrame({})
df['Match_Title']=Match_Title
df['Series']=Series
df['Place']=Place
df['Date']=Date
df['Time']=Time
df

,Match_Title,Series,Place,Date,Time
0,Final,INDIA v NEW ZEALAND,"The Ageas Bowl, Southampton",Friday 18 JUNE,15:30 IST
1,1st Test,ENGLAND v INDIA,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
2,2nd Test,ENGLAND v INDIA,"Lord's, London",Thursday 12 AUGUST,15:30 IST
3,3rd Test,ENGLAND v INDIA,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
4,4th Test,ENGLAND v INDIA,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
5,5th Test,ENGLAND v INDIA,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

___3. Scrape the details of selenium exception from guru99.com.

In [8]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")
import time

#Getting Link
driver.get('https://www.guru99.com/')
driver.maximize_window()

#removing popup
try:
    driver.find_element_by_xpath("//div[@class = 'aurora-yne-content aurora-YesNoElement--content']/div[2]/div/button").click()
except:
    pass

#Clicking on selenium
try:
    driver.find_element_by_xpath("//ul[@id='java_technologies']/li[3]/a").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 10).until(ec.visibility_of_element_located((By.XPATH, "//ul[@id='java_technologies']/li[3]/a")))
    element.click()

#removing popup
try:
    driver.find_element_by_xpath("//div[@class = 'aurora-yne-content aurora-YesNoElement--content']/div[2]/div/button").click()
except:
    pass
    
#Clicking on exception handeling Tutorial
try:
    driver.find_element_by_xpath("//*[@title = 'Selenium Exception Handling (Common Exceptions List)']").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 10).until(ec.visibility_of_element_located((By.XPATH,"//*[@title = 'Selenium Exception Handling (Common Exceptions List)']")))
    element.click()

time.sleep(5)

#removing popup    
try:
    driver.find_element_by_xpath("//div[@class = 'aurora-yne-content aurora-YesNoElement--content']/div[2]/div/button").click()
except:
    pass

#downloading page source
html = driver.page_source

#reading HTML
df = pd.read_html(html)

driver.close()
df[:3]

[                         Exception name  \
 0            ElementNotVisibleException
 1         ElementNotSelectableException
 2                NoSuchElementException
 3                  NoSuchFrameException
 4               NoAlertPresentException
 5                 NoSuchWindowException
 6        StaleElementReferenceException
 7              SessionNotFoundException
 8                      TimeoutException
 9                    WebDriverException
 10            ConnectionClosedException
 11     ElementClickInterceptedException
 12      ElementNotInteractableException
 13             ErrorInResponseException
 14  ErrorHandler.UnknownServerException
 15         ImeActivationFailedException
 16             ImeNotAvailableException
 17         InsecureCertificateException
 18             InvalidArgumentException
 19         InvalidCookieDomainException
 20          InvalidCoordinatesException
 21          InvalidElementStateExceptio
 22            InvalidSessionIdException
 23       InvalidSwitchToTargetException
 24                  JavascriptException
 25                        JsonException
 26             NoSuchAttributeException
 27       MoveTargetOutOfBoundsException
 28               NoSuchContextException
 29                NoSuchCookieException
 30                    NotFoundException
 31          RemoteDriverServerException
 32                  ScreenshotException
 33           SessionNotCreatedException
 34           UnableToSetCookieException
 35           UnexpectedTagNameException
 36              UnhandledAlertException
 37      UnexpectedAlertPresentException
 38               UnknownMethodException
 39          UnreachableBrowserException
 40          UnsupportedCommandException

                                           Description
 0   This type of Selenium exception occurs when an...
 1   This Selenium exception occurs when an element...
 2   This Exception occurs if an element could not ...
 3   This Exception occurs if the frame target to b...
 4   This Exception occurs when you switch to no pr...
 5   This Exception occurs if the window target to ...
 6   This Selenium exception occurs happens when th...
 7   The WebDriver is acting after you quit the bro...
 8   Thrown when there is not enough time for a com...
 9   This Exception takes place when the WebDriver ...
 10  This type of Exception takes place when there ...
 11  The command may not be completed as the elemen...
 12  This Selenium exception is thrown when any ele...
 13  This happens while interacting with the Firefo...
 14  Exception is used as a placeholder in case if ...
 15  This expectation will occur when IME engine ac...
 16    It takes place when IME support is unavailable.
 17  Navigation made the user agent to hit a certif...
 18  It occurs when an argument does not belong to ...
 19  This happens when you try to add a cookie unde...
 20  This type of Exception matches an interacting ...
 21  It occurs when command can’t be finished when ...
 22  This Exception took place when the given sessi...
 23  This occurs when the frame or window target to...
 24  This issue occurs while executing JavaScript g...
 25  It occurs when you afford to get the session w...
 26  This kind of Exception occurs when the attribu...
 27  It takes place if the target provided to the A...
 28           ContextAware does mobile device testing.
 29  This Exception occurs when no cookie matching ...
 30  This Exception is a subclass of WebDriverExcep...
 31  This Selenium exception is thrown when the ser...
 32            It is not possible to capture a screen.
 33  It happens when a new session could not be suc...
 34  This occurs if a driver is unable to set a coo...
 35  Happens if a support class did not get a web e...
 36  This expectation occurs when there is an alert...
 37  It occurs when there is the appearance of an u...
 38  This Exception happens when the requested comm...
 39  This Exception occurs only when the browser is...
 40  This occurs when remote WebDriver does n’t sen...  ]

____4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [5]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")

#Getting Link
driver.get('http://statisticstimes.com/')
driver.maximize_window()

#Clicking on economy page
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").click()

#Clicking on GDP of Indian states
try:
    driver.find_element_by_xpath("//a[contains(.,'GDP of Indian states') and contains(@class, 'ec')]").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 30).until(ec.visibility_of_element_located((By.XPATH,"//a[contains(.,'GDP of Indian states') and contains(@class, 'ec')]")))
    element.click()


#downloading page source
html = driver.page_source

#reading HTML
df = pd.read_html(html)

df[1].drop('GSDP (Cr INR at 2011-12 prices)', axis = 1, level=0, inplace = True)

driver.close()
df[1]

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20339849  18971237

     Share GDP ($billion)
     18-19           2019
0   13.88%        398.145
1    8.59%        246.529
2    8.35%        239.656
3    7.92%        227.276
4    7.87%        225.798
5    5.75%        164.820
6    4.97%        142.543
7    4.55%        130.501
8    4.54%        130.210
9    4.27%        122.431
10   4.12%        118.206
11   4.08%        117.180
12   3.87%        111.024
13   2.80%         80.204
14   2.77%         79.601
15   2.57%         73.768
16   1.67%         47.769
17   1.60%         45.982
18   1.57%         44.945
19   1.30%         37.186
20   0.82%         23.584
21   0.81%         23.265
22   0.39%         11.065
23   0.26%          7.538
24   0.22%          6.369
25   0.18%          5.207
26   0.18%          5.063
27   0.15%          4.344
28   0.15%          4.215
29   0.14%          4.126
30   0.13%          3.721
31   0.12%          3.370
32       -              -
33     NaN           2869

In [6]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")

#Getting Link
driver.get('https://github.com/')

#clicking trending button
try:
    driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]").click()
    driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]/details/div/ul[2]/li[3]/a").click()
except NoSuchElementException as e:
    WebDriverWait(driver, 10).until(ec.visibility_of_element_located((By.XPATH,"//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]"))).click()
    WebDriverWait(driver, 2).until(ec.visibility_of_element_located((By.XPATH,"//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]/details/div/ul[2]/li[3]/a"))).click()

#Making List
titles=[]
des = []
counts = [] 
langs = []
ref = []
a = []

#getting link of all repository
urls=driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")
for i in urls:
    ref.append(str(i.get_attribute('href')))
    
#opeaning every repo and scrappimg required info
for url in ref:
    driver.get(url)
    #Scrapping Repository title
    try:
        title = driver.find_element_by_xpath("//main[@id='js-repo-pjax-container']/div/div/div/h1")
        titles.append(title.text.replace('\n',''))
    except NoSuchElementException as e:
        titles.append("-")

    #Scrapping Repository description
    try:
        de = driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[1]/div/p")
        des.append(de.text)
    except NoSuchElementException as e:
        des.append("-")

    #Scrapping Contributors count
    try:
        count = driver.find_element_by_css_selector("#repo-content-pjax-container > div > div.gutter-condensed.gutter-lg.flex-column.flex-md-row.d-flex > div.flex-shrink-0.col-12.col-md-3 > div > div:Nth-Last-Child(2)")
        counts.append(count.text.split()[1])
    
    except Exception as e:
        counts.append("-")
        
    # Scrapping Language used
    try:
        lang = driver.find_element_by_css_selector("#repo-content-pjax-container > div > div.gutter-condensed.gutter-lg.flex-column.flex-md-row.d-flex > div.flex-shrink-0.col-12.col-md-3 > div > div:Last-Child > div > ul").text.split('\n')
        for index, element in enumerate(lang):
            if index % 2 == 0:
                a.append(element)
        langs.append(str(a))
        a.clear()
    except Exception as e:
        langs.append("-")

#making dataframe
ds = pd.DataFrame({'Repository title' : titles ,'Repository description' : des ,'Contributors count':counts ,'Language used': langs})

driver.close()
ds

,Repository title,Repository description,Contributors count,Language used
0,dolthub/dolt,Dolt – It's Git for Data,21,"['Go', 'Shell', 'Python', 'Lua', 'C#', 'C']"
1,openai/CLIP,Contrastive Language-Image Pretraining,3,"['Jupyter Notebook', 'Python']"
2,google/googletest,Googletest - Google Testing and Mocking Framework,316,"['C++', 'Python', 'CMake', 'C', 'Starlark', 'S..."
3,flutter/flutter,Flutter makes it easy and fast to build beauti...,815,"['Dart', 'Objective-C', 'Java', 'C++', 'Shell'..."
4,git/git,Git Source Code Mirror - This is a publish-onl...,"1,446","['C', 'Shell', 'Perl', 'Tcl', 'Python', 'Makef..."
5,dwisiswant0/apkleaks,"Scanning APK file for URIs, endpoints & secrets.",3,['Python']
6,coolsnowwolf/lede,Lean's OpenWrt source,229,"['C', 'Makefile', 'Shell', 'C++', 'Roff', 'Pyt..."
7,Developer-Y/cs-video-courses,List of Computer Science courses with video le...,No,-
8,gskinnerTeam/flutter-folio,"A platform adaptive Flutter app for desktop, m...",4,"['Dart', 'C++', 'CMake', 'Swift', 'HTML', 'Rub..."
9,connor-create/wsbtrades,-,-,['Python']
10,facebookresearch/d2go,D2Go is a toolkit for efficient deep learning,9,"['Python', 'Cuda', 'C++']"
11,microsoft/CSS-Exchange,Exchange Server support tools and scripts,7,"['PowerShell', 'HTML', 'Lua']"
12,sarven/unit-testing-tips,Unit testing tips by examples in PHP,-,-
13,kilimchoi/engineering-blogs,A curated list of engineering blogs,335,['Ruby']
14,MicrosoftLearning/AZ-104-MicrosoftAzureAdminis...,AZ-104 Microsoft Azure Administrator,38,['PowerShell']
15,florinpop17/app-ideas,A Collection of application ideas which can be...,No,['']
16,trekhleb/javascript-algorithms,📝 Algorithms and data structures implemented i...,139,['JavaScript']
17,freefq/free,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/trojan...,-,-
18,nushell/nushell,A new type of shell,200,"['Rust', 'Dockerfile']"
19,Shopify/upgrow,A sustainable architecture for Ruby on Rails.,8,"['Ruby', 'HTML', 'JavaScript', 'CSS']"
20,thunlp/GNNPapers,Must-read papers on graph neural networks (GNN),-,-
21,getzola/zola,A fast static site generator in a single binar...,218,"['Rust', 'HTML', 'Shell', 'PowerShell', 'Pytho..."
22,microsoft/vscode,Visual Studio Code,"1,370","['TypeScript', 'JavaScript', 'CSS', 'Inno Setu..."
23,muguruzawang/jd_maotai_seckill,优化版本的京东茅台抢购神器,-,['Python']
24,acantril/learn-cantrill-io-labs,Standard and Advanced Demos for learn.cantrill...,9,"['Shell', 'PowerShell', 'JavaScript', 'HTML', ..."

___6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:

In [7]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")

#Getting Link
driver.get(' https://www.billboard.com/')

try:
    driver.find_element_by_xpath("//div[@class='chart-promo__button-wrapper text--right']/a").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 30).until(ec.visibility_of_element_located((By.XPATH,"//div[@class='chart-promo__button-wrapper text--right']/a")))
    element.click()
    
song = []
artist = []
last = []
peak = []
week =[]

#Scrolling 10 Times
value = 0
for i in range(10):
    driver.execute_script("scrollBy("+ str(value) +",+1000);")
    value += 1000

#extracting required element
artist_tag = driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button/span[2]")
tag = driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button/div[1]")

#exctacting Song
for i in artist_tag:
    try:
        song.append(i.text.split('\n')[0])
    except NoSuchElementException as e:
        song.append("-")

#exctacting Artist
for i in artist_tag:
    try:
        artist.append(i.text.split('\n')[1])
    except NoSuchElementException as e:
        artist.append("-")
    

#exctacting Last week rank
for i in tag:
    try:
        last.append(i.text.split('\n')[0])
    except NoSuchElementException as e:
        last.append("-")
        
#exctacting Peak rank
for i in tag:
    try:
        peak.append(i.text.split('\n')[1])
    except NoSuchElementException as e:
        peak.append("-")
        
#exctacting Weeks on board
for i in tag:
    try:
        week.append(i.text.split('\n')[2])
    except NoSuchElementException as e:
        week.append("-")

#making dataframe
df = pd.DataFrame({'Song':song,'Artist':artist,'Peak rank':peak,'Weeks on board':week,'Last week rank':last})

driver.close()
df

,Song,Artist,Peak rank,Weeks on board,Last week rank
0,Drivers License,Olivia Rodrigo,1,7,1
1,Up,Cardi B,2,3,5
2,Go Crazy,Chris Brown & Young Thug,3,42,8
3,34+35,Ariana Grande,2,17,2
4,Blinding Lights,The Weeknd,1,64,4
...,...,...,...,...,...
95,The Business,Tiesto,96,1,-
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,97,1,-
97,Monster,Shawn Mendes & Justin Bieber,8,14,91
98,Track Star,Mooski,99,1,-
99,Like I Want You,Giveon,95,2,95

___ 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [25]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")
#Getting Link
driver.get('https://www.naukri.com/')

In [26]:
recr = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
driver.get(recr)

#finding job bt different element
search_job = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search_job.send_keys('Data Science')

#clicking Search button
search_btn = driver.find_element_by_id("qsbFormBtn")
search_btn.click()

names = []
des = []
loc = []
comp =[]
skills = []

skill_tag = driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")

block = driver.find_elements_by_xpath("//p[@class='highlightable']")
for i in block:
    
    #Scrapping Name
    if len(i.text.split('\n')) == 4:
        try:
            names.append(i.text.split('\n')[0])
        except NoSuchElementException as e:
            names.append("--")
    else:
        names.append("--")
        
    #Scrapping Designation
    if len(i.text.split('\n')) == 4:
        try:
            des.append(i.text.split('\n')[1])
        except NoSuchElementException as e:
            des.append("--")
    else:
        des.append("--")

    #Scrapping Company
    if len(i.text.split('\n')) == 4:
        try:
            comp.append(i.text.split('\n')[2])
        except NoSuchElementException as e:
            comp.append("--")
    else:
        comp.append("--")
        
    #Scrapping location
    if len(i.text.split('\n')) == 4:
        try:
            loc.append(i.text.split('\n')[3])
        except NoSuchElementException as e:
            loc.append("--")
    else:
        loc.append("--")
        
        
#Scrapping Skills they hire for
for i in skill_tag:
    try:
        skills.append(i.text)
    except NoSuchElementException as e:
        skills.append("--")
    
#making dataframe
df = pd.DataFrame({'Name':names,'Designation':des,'Company':comp,'Skills they hire for':skills,'location':loc})


driver.close()
df

,Name,Designation,Company,Skills they hire for,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,--,--,--,"Signal Processing, Machine Learning, Neural Ne...",--
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
45,--,--,--,"Machine Learning, Data Science, Product Manage...",--
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

___ 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [10]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")
#Getting Link
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

#downloading page source
html = driver.page_source

#reading HTML
df = pd.read_html(html)

df[0].drop('Rank', axis = 1, inplace = True)

driver.close()
df[0]

,Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...
96,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

___9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [11]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")

#Getting Link
driver.get('https://www.imdb.com/list/ls095964455/')

#making list
names = []
year = []
gener = []
runtime =[]
rating = []
votes = []

name_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")
year_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")
runtime_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[3]")
gener_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[5]")
rating_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/div[1]/div[1]")
votes_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")


#exctacting Name
for i in name_tag:
    try:
        names.append(i.text)
    except NoSuchElementException as e:
        names.append("-")

#exctacting Year Span
for i in year_tag:
    try:
        year.append(i.text)
    except NoSuchElementException as e:
        year.append("-")
    

#exctacting Runtime
for i in runtime_tag:
    try:
        runtime.append(i.text)
    except NoSuchElementException as e:
        runtime.append("-")
        
#exctacting Gener
for i in gener_tag:
    try:
        gener.append(i.text)
    except NoSuchElementException as e:
        gener.append("-")
        
#exctacting Rating
for i in rating_tag:
    try:
        rating.append(i.text)
    except NoSuchElementException as e:
        rating.append("-")
        
#exctacting Votes
for i in votes_tag:
    try:
        votes.append(i.text)
    except NoSuchElementException as e:
        votes.append("-")
        
        
#making dataframe
df = pd.DataFrame({'Name':names,'Year Span':year,'Runtime':runtime,'Gener':gener,'Rating':rating,'Votes':votes})


driver.close()
df

,Name,Year Span,Runtime,Gener,Rating,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.3,"1,778,905"
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7,"829,433"
2,The Walking Dead,(2010– ),44 min,"Drama, Horror, Thriller",8.2,"857,076"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.6,"257,289"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"217,843"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,"Drama, Fantasy",7.5,"43,781"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"54,114"
97,Criminal Minds,(2005–2020),42 min,"Crime, Drama, Mystery",8.1,"162,337"
98,Scream: The TV Series,(2015–2019),45 min,"Crime, Drama, Horror",7.2,"34,210"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"184,003"

___10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [20]:
#importing driver
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")
#Getting Link
driver.get('https://archive.ics.uci.edu/')

#Clicking on view all set button
try:
    driver.find_element_by_xpath("//*[text()='View ALL Data Sets']").click()
    
except NoSuchElementException as e:
    element = WebDriverWait(driver, 30).until(ec.visibility_of_element_located((By.XPATH,"//*[text()='View ALL Data Sets']")))
    element.click()
    
#downloading page source
html = driver.page_source

#reading HTML
df = pd.read_html(html)

df[5].rename(columns=df[5].iloc[0], inplace = True)
count = df[5].index.stop
ds = df[5].iloc[1:count:2]
ds.reset_index(inplace = True)
driver.close()

ds

,index,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,5,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
3,7,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
4,9,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...,...
580,1161,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,NaN,26737,4,2020
581,1163,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,1165,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,1167,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684,23,2020
584,1169,Gait Classification,Multivariate,Classification,Real,48,321,2020