##Install selenium

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\my pc\anaconda3\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [469]:
import selenium
import pandas as pd
from selenium import webdriver

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [470]:
##opening chrome window
driver=webdriver.Chrome("C:\\Users\\my pc\\Downloads\\chromedriver")

In [308]:
##opening the webpage
url="https://www.naukri.com/"
driver.get(url)

In [74]:
##getting web element of search bar
designation=driver.find_element_by_id("qsb-keyword-sugg")
designation

In [75]:
##searching for data analyst
designation.send_keys("Data Analyst")

In [76]:
##getting web element of location
loc=driver.find_element_by_id("qsb-location-sugg")
loc

In [77]:
## selecting banglore as location
loc.send_keys("Banglore")

In [78]:
##clicking search button
button1=driver.find_element_by_class_name("btn")
button1.click()

In [238]:
job_title=[]
company=[]
exp=[]
locat=[]
##scraping web elements job title,name,location,experience
job=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
jobloc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
##extracting text from webelements
for i in job: 
        job_title.append(i.text.replace("\n",' ')) 
for i in company_name: 
        company.append(i.text.replace("\n",' ')) 
for i in exp_tag: 
    exp.append(i.text.replace("\n",' '))

for i in jobloc: 
    locat.append(i.text.replace("\n",' '))

In [246]:
##create a dataframe of the scraped data.
data_A=pd.DataFrame({})
data_A['Job_title']=job_title
data_A['company_Name']=company
data_A['Experience']=exp
data_A['Location']=locat
data_A[0:10]

,Job_title,company_Name,Experience,Location
0,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
1,Business Data Analyst,Trigent Software,3-5 Yrs,Bangalore/Bengaluru
2,Data Analyst/Business Analyst-Gurgaon/Bangalor...,"India Medtronic Pvt. Ltd,.",1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
3,Data Analyst,WEIWO Communication Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru(Ulsoor)
4,Data Analyst,GCC SERVICES INDIA PRIVATE LIMITED,5-9 Yrs,Bangalore/Bengaluru
5,"Systems and Data Analyst, Safety and Provisioning",AECOM India Private Limited,3-5 Yrs,Bangalore/Bengaluru
6,Data Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
7,Data Analyst,Allegis Services India Pvt. Ltd.,3-5 Yrs,Bangalore/Bengaluru
8,Data Analyst,Enzen Global Solutions Pvt. Ltd,6-8 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst - SQL/Tableau/Redshift,Pronto Consulting Services,6-10 Yrs,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,..."

Q2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [328]:
##opening the webpage
url1="https://www.naukri.com/"
driver.get(url1)
##searching for data scientist
designation=driver.find_element_by_id("qsb-keyword-sugg")
designation.send_keys("Data Scientist")
## selecting banglore as location
loc=driver.find_element_by_id("qsb-location-sugg")
loc.send_keys("Banglore")
##clicking search button
button1=driver.find_element_by_class_name("btn")
button1.click()

In [329]:
job_title=[]
company=[]
exp=[]
locat=[]
##scraping web elements job title,name,location,experience
job=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
jobloc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
##extracting text from webelements
for i in job: 
        job_title.append(i.text.replace("\n",' ')) 
for i in company_name: 
        company.append(i.text.replace("\n",' ')) 
for i in exp_tag: 
    exp.append(i.text.replace("\n",' '))

for i in jobloc: 
    locat.append(i.text.replace("\n",' '))

2. scrape full job description

In [330]:
link=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
##getting webelement of title tag

In [331]:
url=[]
for i in link:
    url.append(i.get_attribute("href"))
##getting all url's attribure href

In [332]:
job_desc=[]
for i in url:
    driver.get(i)
    ##scrapping job description in next web page(job descriptin page)
    try:
        job_desc1=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
        job_desc2=driver.find_elements_by_xpath("//div[@class='clearboth description']")
        for i in job_desc1: 
            job_desc.append(i.text.replace("\n"," "))
        for i in job_desc2:
            job_desc.append(i.text.replace("\n"," "))
        
    except:
        pass
##create a dataframe of the scraped data.
data_A=pd.DataFrame({})
data_A['Job_title']=job_title
data_A['company_Name']=company
data_A['Experience']=exp
data_A['Location']=locat
data_A['Job desc']=job_desc
data_A[0:10]
##print(len(job_title),len(job_desc))

,Job_title,company_Name,Experience,Location,Job desc
0,Senior Data Scientist,Philips India Limited,8-10 Yrs,Bangalore/Bengaluru,"Be a part of the Enterprise IT , Information..."
1,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."
2,Senior Data Scientist,SYMBIOSIS International W.L.L,10-15 Yrs,Bangalore/Bengaluru,Required Candidate profile We are looking for ...
3,DATA SCIENTIST,McAfee Software (India) Pvt. Ltd,4-8 Yrs,Bangalore/Bengaluru,"Data Scientist Primary Location India, Bangalo..."
4,Senior Data Scientist,Datamatics Global Services Ltd,8-13 Yrs,Bangalore/Bengaluru,Roles and Responsibilities Details in lined f...
5,Software Developer - Data Scientist / NLP / Ma...,Cunesoft India Private Limited,3-8 Yrs,Bangalore/Bengaluru,Dear Candidates We are looking for a competent...
6,Data scientist,Uber,6-8 Yrs,Bangalore/Bengaluru,About the role We are looking for skilled moti...
7,Senior Data Scientist,IBM India Pvt. Limited,5-10 Yrs,Bangalore/Bengaluru,We are looking for an experienced Data Scienti...
8,Senior Data Scientist,Publicis Groupe,2-5 Yrs,Bangalore/Bengaluru,"Work location: Bengaluru (Currently, Remote) S..."
9,Senior Data Scientist,Bidgely Technologies Private Limited,4-6 Yrs,Bangalore/Bengaluru,Bidgely is looking for extraordinary and dynam...

Q3.
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [471]:
##opening the webpage
url1="https://www.naukri.com/"
driver.get(url1)
##searching for data scientist
designation=driver.find_element_by_id("qsb-keyword-sugg")
designation.send_keys("Data Scientist")
##clicking the search button
button1=driver.find_element_by_class_name("btn")
button1.click()

In [480]:
##selecting location filter as delhi
loc_filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
loc_filter.click()
##selecting salary filter as 3-6 lakhs
salary_filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary_filter.click()

In [482]:
job_title=[]
company=[]
exp=[]
locat=[]
##scraping web elements job title,name,location,experience
job=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
jobloc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
##extracting text from web elements
for i in job: 
        job_title.append(i.text.replace("\n",' ')) 
for i in company_name: 
        company.append(i.text.replace("\n",' ')) 
for i in exp_tag: 
    exp.append(i.text.replace("\n",' '))

for i in jobloc: 
    locat.append(i.text.replace("\n",' '))
##creating data frame and printiong first 10 data
data_A=pd.DataFrame({})
data_A['Job_title']=job_title
data_A['company_Name']=company
data_A['Experience']=exp
data_A['Location']=locat
data_A[0:10]

,Job_title,company_Name,Experience,Location
0,Data Scientist,CBRE South Asia Pvt Ltd,2-4 Yrs,Gurgaon/Gurugram
1,Immediate Openings For DATA Scientist with 6 T...,Entune IT Consulting Private Limited,5-8 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
2,Data Scientist / Sr. Data Scientist,WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs,"Noida, Pune, Mumbai (All Areas)"
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
4,Hiring Data Scientist Develope || IDS Infotech...,IDS Infotech Ltd.,5-10 Yrs,"Chandigarh, Hyderabad/Secunderabad, Chennai, B..."
5,Hiring Data Scientist Develope || IDS Infotech...,IDS Infotech Ltd.,5-10 Yrs,"Chandigarh, Hyderabad/Secunderabad, Chennai, B..."
6,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
7,Data Scientist,Decimal Technologies Pvt Ltd.,1-3 Yrs,Gurgaon/Gurugram
8,Senior Data Scientist - Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs,Noida
9,Data Scientist,R Systems International Ltd.,5-10 Yrs,Noida(Sector-59 Noida)

program4
Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [194]:
url1="https://www.glassdoor.co.in/member/home/index.htmn/"
driver.get(url1)
##opening the web page

In [214]:
##searching as Data Scientist designation in Noida location
designation=driver.find_element_by_id("sc.keyword")
designation.clear()
designation.send_keys("Data Scientist")
com=driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/div[2]/div/div[2]/div/ul/li[2]/span")
com
loc=driver.find_element_by_id("sc.location")
loc.clear()
loc.send_keys("Noida(India)")
##clicking search button
button_s=driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/button")
button_s.click()

In [249]:
company_name=[]
date=[]
rating=[]
##scraping webelement company_name, No. of days ago when job was posted, Rating of the company.
date_list=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
rating_list=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
company_list=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//a//span[1]")
##scraping text of the above webelement
for i in company_list: 
        company_name.append(i.text.strip())
for i in date_list: 
        date.append(i.text.strip())
for i in rating_list: 
        rating.append(i.text.strip())
##creating data frame and printing first 10 data
data_A=pd.DataFrame({})
data_A['Company']=company_name
data_A['no of days ago posted']=date
data_A['Rating']=rating
data_A[0:10]

                                Company no of days ago posted Rating
0                              Uncodemy                    1d
1                             dunnhumby                   24h    4.1
2                Data Trained Education                   24h
3                     NEC Opportunities                    2d
4                                                          7d    4.2
5                              Ericsson                    5d    4.1
6  Liberin Technologies Private Limited                   10d
7              Emerging India Analytics                    1d
8                                 Crowe                  30d+    3.8
9                          Pixel Vision                   20d

program 5
Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [203]:
url1="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url1)

##opening the webpage

In [204]:
##searching as Data Scientist designation in Noida location
designation=driver.find_element_by_id("KeywordSearch")
designation.clear()
designation.send_keys("Data Scientist")
loc=driver.find_element_by_id("LocationSearch")
loc.clear()
loc.send_keys("Noida")
##clicking search button
button1=driver.find_element_by_id("HeroSearchButton")
button1.click()

In [218]:
companylist=[]
salarylist=[]
rangelist=[]
rangelist1=[]
ratinglist=[]
##scraping webelements Company name, Number of salaries, Average salary, Min salary, Max Salary
company=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
salary=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")
range_max=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[2]")
range_min=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[1]")
rating=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span[1]")
##scraping text of the above webelements
for i in company:
    companylist.append(i.text.replace("\n",' ')) 
for i in salary:
    salarylist.append(i.text.replace("\n",' ')) 
for i in range_min: 
    rangelist.append(i.text.replace("\n",""))
for i in range_max: 
    rangelist1.append(i.text.replace("\n",""))
for i in rating: 
    ratinglist.append(i.text.replace("\n",""))
##checking for length of each list

print(len(companylist),len(salarylist),len(rangelist),len(rangelist1),len(ratinglist))
print(rangelist)

20 20 20 20 20
['₹3L', '₹6L', '₹6L', '₹5L', '₹4L', '₹8L', '₹5L', '₹6L', '₹8L', '₹4L', '₹2L', '₹6L', '₹10L', '₹4L', '₹8L', '₹9L', '₹8L', '₹12T', '₹4L', '₹25T']

In [219]:
##creating data frame and printing first 10 data
data_A=pd.DataFrame({})
data_A['company_Name']=companylist
data_A['SALARY']=salarylist
data_A['MIN_SALARY']=rangelist
data_A['Max_SALARY']=rangelist1
data_A['NO.of salary']=ratinglist
data_A[0:10]

                company_Name      SALARY MIN_SALARY Max_SALARY NO.of salary
0  Tata Consultancy Services   ₹6,12,205        ₹3L       ₹13L  18 salaries
1                        IBM   ₹9,00,000        ₹6L       ₹27L  18 salaries
2                  Accenture  ₹11,63,336        ₹6L       ₹22L  15 salaries
3                  Delhivery  ₹12,18,244        ₹5L       ₹1Cr  15 salaries
4         Ericsson-Worldwide   ₹7,39,238        ₹4L       ₹16L  14 salaries
5         UnitedHealth Group  ₹12,80,000        ₹8L       ₹15L  14 salaries
6         Valiance Solutions   ₹8,63,750        ₹5L       ₹15L  10 salaries
7                EXL Service  ₹11,10,000        ₹6L       ₹15L   9 salaries
8                      Optum  ₹14,23,677        ₹8L       ₹20L   9 salaries
9     Optum Global Solutions  ₹13,28,697        ₹4L       ₹22L   9 salaries

program 6
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [223]:
##Go to flipkart webpage by url https://www.flipkart.com/
url1="https://www.flipkart.com"
driver.get(url1)

In [224]:
##Enter “sunglasses” in the search field
product=driver.find_element_by_xpath("//input[@class='_3704LK']")
product.clear()
product.send_keys("sunglasses")
##click the search icon
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [225]:
##to scrape data from multiple page 
## get webelement first page link
link1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
link=driver.find_elements_by_xpath("//a[@class='ge-49M']")
url_link=[]
brand=[]
desc=[]
price=[]
discount=[]
##get webelements of all page link
for i in link1:
    url_link.append(i.get_attribute("href"))
for i in link:
    url_link.append(i.get_attribute("href"))
##get webelements of first 3 page link
for i in url_link[0:3]:
    driver.get(i)
    ##scrape web elements of brand,price,description and discount from multiple page
    try:
        brand_list=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        desc_list1=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
        desc_list=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        price_list=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        discount_list=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span[1]")##scraping text from web elements[brand,price,description and discount]
    ##scraping text from web elements[brand,price,description and discount]
        for i in brand_list:
            brand.append(i.text.strip())
        for i in desc_list1:
            desc.append(i.text.replace("/n",""))
        for i in desc_list:
            desc.append(i.text.replace("/n",""))
        for i in price_list:
            price.append(i.text.strip())
        for i in discount_list: 
            discount.append(i.text.strip())
        
    except:
        pass
##creating data frame and printing first 100 data
    data=pd.DataFrame({})
    data['BRAND']=brand
    data['DESCRIPTION']=desc
    data['PRICE']=price
    data['DISCOUNT']=discount
data[0:100]

,BRAND,DESCRIPTION,PRICE,DISCOUNT
0,HAMIW COLLECTION,"UV Protection, Mirrored, Riding Glasses Retro ...",₹199,86% off
1,LIZA ANGEL,Polarized Round Sunglasses (53),₹279,65% off
2,Fastrack,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹599,25% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹699,22% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹499,37% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Oval Sunglasses (56),₹799,60% off
96,Fastrack,UV Protection Round Sunglasses (52),₹939,27% off
97,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹349,78% off
98,PHENOMENAL,UV Protection Round Sunglasses (53),₹282,87% off
99,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68% off

progrsam 7
Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [415]:

rating=[]
review=[]
review_s=[]
url_link=[]
##go to first web page
link1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
##getting webelemengt of  next page
link=driver.find_elements_by_xpath("//a[@class='ge-49M']")
rating_list=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
review_list=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in link1:
    url_link.append(i.get_attribute("href"))
for i in link:
    url_link.append(i.get_attribute("href"))
##GO to next page
for i in url_link[0:10]:
    driver.get(i)
##Scraping 1. Rating 2. Review_summary 3. Full review for first 100 reviews

    try:
        rating_list=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        rating_list1=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
        review_list=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        summary_list=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in rating_list:
            rating.append(i.text.replace("\n",""))
        for i in rating_list1:
            rating.append(i.text.replace("\n",""))
        for i in review_list:
            review.append(i.text.replace("\n",""))
        for i in summary_list:
            review_s.append(i.text.replace("\n",""))
    except:
        pass
##creating data frame and printing first 100 reviews
data=pd.DataFrame({})
data['RATING']=rating
data['REVIEW']=review
data['REVIEW SUMMARY']=review_s
##print(len(rating),len(review),len(review_s))
data

,RATING,REVIEW,REVIEW SUMMARY
0,5,Terrific purchase,Awesome product Worth of Money👌👌
1,3,Just okay,The product we received is not what we ordered...
2,4,Really Nice,Nice product.... in this price
3,5,Simply awesome,Very nice. Comfortable for him .tknq soo much 😊😊
4,4,Very Good,Lightweight good looking awesome shoeFinishing...
...,...,...,...
95,3,Just okay,The product we received is not what we ordered...
96,4,Really Nice,Nice product.... in this price
97,5,Simply awesome,Very nice. Comfortable for him .tknq soo much 😊😊
98,1,Useless product,"Poor quality,And look at the toe end, Both the..."
99,1,Useless product,"Poor quality,And look at the toe end, Both the..."

program 8
Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [409]:
##go to flipkart.com
url1="https://www.flipkart.com"
driver.get(url1)
##search for “sneakers” in the search field
product=driver.find_element_by_xpath("//input[@class='_3704LK']")
##to clear search field
product.clear()
product.send_keys("sneakers")
##click search button
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [411]:
##go to first web page
link1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
##getting webelemengt of  next page
link=driver.find_elements_by_xpath("//a[@class='ge-49M']")
url_link=[]
brand=[]
desc=[]
price=[]
discount=[]
for i in link1:
    url_link.append(i.get_attribute("href"))
for i in link:
    url_link.append(i.get_attribute("href"))
##GO to next page untill it reaches 100 data
for i in url_link[0:4]:
    driver.get(i)
##scrape web elements of brand,price,description and discount from multiple page

    try:
        brand_list=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        desc_list1=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
        desc_list=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        price_list=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        discount_list=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span[1]")
        for i in brand_list:
            brand.append(i.text.strip())
        for i in desc_list1:
            desc.append(i.text.replace("/n",""))
        for i in desc_list:
            desc.append(i.text.replace("/n",""))
        for i in price_list:
            price.append(i.text.strip())
        for i in discount_list: 
            discount.append(i.text.strip())
        
    except:
        pass
##creating data frame and printing first 100 reviews
    data=pd.DataFrame({})
    data['BRAND']=brand
    data['DESCRIPTION']=desc
    data['PRICE']=price
    data['DISCOUNT']=discount
data[0:100]

,BRAND,DESCRIPTION,PRICE,DISCOUNT
0,PUMA,Shoes For Boys Dance shoes Sneakers For Men,"₹2,319",53% off
1,PUMA,9019 Sneakers For Men,"₹1,478",57% off
2,SPARX,Puma Rebound LayUp SL Sneakers For Men,₹753,24% off
3,DUCATI,Flex Renew SlipOn Sneakers For Men,"₹1,289",65% off
4,Axter,SM-322 Sneakers For Men,₹299,78% off
...,...,...,...,...
95,BRUTON,Sneakers For Men,₹399,88% off
96,FILA,Modern Trendy Sneakers Shoes Sneakers For Men,₹845,68% off
97,SPARX,Fashionable casual sneakers shoes Sneakers For...,₹629,16% off
98,Ktiz,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹384,61% off
99,Strollin,MESTO Sneakers For Men,₹399,60% off

program 9
Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price

In [441]:
##Go to the link - https://www.myntra.com/shoes 
url="https://www.myntra.com/shoes"
driver.get(url)
##Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()
link=driver.find_elements_by_xpath("//li[@class='pagination-number']//a[1]")
url_link=[]
brand=[]
desc=[]
price=[]
url_link.append(url)
for i in link:
    url_link.append(i.get_attribute("href"))
url_link
##GO to next page untill it reaches 100 shoes
for i in url_link[0:2]:
    driver.get(i)
##scraping web elements of “Brand” of the shoes , Short Shoe description, price for 100 shoes
    try:
        brand_list=driver.find_elements_by_xpath("//h3[@class='product-brand']")
        desc_list=driver.find_elements_by_xpath("//h4[@class='product-product']")
        ##desc_list=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        price_list=driver.find_elements_by_xpath("//div[@class='product-price']")
##scraping text of web elements “Brand” of the shoes , Short Shoe description, price for 100 shoes
        for i in brand_list:
            brand.append(i.text.strip())
        for i in desc_list:
            desc.append(i.text.replace("/n",""))
        for i in price_list:
            price.append(i.text.strip())
    except:
        pass
    
    data=pd.DataFrame({})
    data['BRAND']=brand
    data['DESCRIPTION']=desc
    data['PRICE']=price
data[0:100]
##print(len(brand),len(desc),len(price))

,BRAND,DESCRIPTION,PRICE
0,Newfeel By Decathlon,Men Walking Shoes,Rs. 899
1,MENGLER,Men Walking Shoes,Rs. 645Rs. 1699(62% OFF)
2,Nike,Unisex Skateboarding Shoes,Rs. 4995
3,Skechers,Women GO WALK 5 Walking Shoes,Rs. 3363Rs. 5799(42% OFF)
4,Red Tape,Men Walking Shoes,Rs. 1474Rs. 5899(75% OFF)
...,...,...,...
95,DEAS,Women Woven Design Sneakers,Rs. 649Rs. 999(35% OFF)
96,Bata,Men Solid Leather Formal Derbys,Rs. 1699Rs. 1999(15% OFF)
97,ASIAN,Men Running Shoes,Rs. 799Rs. 999(Rs. 200 OFF)
98,Geox,Men Solid Sneakers,Rs. 10999
99,H&M,Men Slip-On Trainers,Rs. 1049Rs. 1499(30% OFF)

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i5”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
 titleRatings Price

In [435]:
##Go to webpage https://www.amazon.in
url=" https://www.amazon.in/"
driver.get(url)
##Enter “Laptop” in the search field
product=driver.find_element_by_id("twotabsearchtextbox")
product.clear()
product.send_keys("laptop")
##click the search icon
search=driver.find_element_by_id("nav-search-submit-button")
search.click()

In [436]:
## set CPU Type filter to “Intel Core i5”
cpu_filter=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']//span[1]")
cpu_filter.click()

In [430]:
##set CPU Type filter to “Intel Core i7”
cpu_filter1=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598162031']//span[1]")
cpu_filter1.click()

In [432]:
title=[]
price=[]
rating=[]
##scraping first 10 laptops data.which inclue:title, Ratings,Price
price_list=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
rating_list=driver.find_elements_by_xpath("//span[@class='a-size-base']")
title_list=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
##scraping the text for above webelement
for i in title_list:
    title.append(i.text.strip())
for i in price_list:
    price.append(i.text.strip())
for i in rating_list:
    rating.append(i.text.strip())
##create dataframe for scraped data and print it
data=pd.DataFrame({})
data['TITLE']=title
data['PRICE']=price
data[0:10]

                                               TITLE   PRICE
0  HP 15 (2021) Thin & Light 11th Gen Core i5 Lap...  61,990
1  Acer Aspire 3 core i5 11th Generation Processo...  55,600
2  (Renewed) Fujitsu Intel Core i5 3340M 15.6-Inc...  21,990
3  HP Pavilion Gaming 10th Gen Intel Core i5 Proc...  63,990
4  Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 1...  61,990
5  Dell Inspiron 3501 15.6" FHD Display Laptop (i...  63,300
6  HP Pavilion (2021) 11th Gen Core i5 Laptop, 16...  73,990
7  HP Pavilion (2021) Thin & Light 11th Gen Core ...  84,990
8  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i5...  57,990
9  HP 15 (2021) Thin & Light 11th Gen Core i5 Lap...  61,990